:root {
    --primary-color: #0074d9;
    --secondary-color: #228b22;
    --accent1-color: #ff851b;
    --accent2-color: #ece4b7;
}


h2 {
    color: var(--secondary-color);
}

footer a {
    text-decoration: none;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    
}

.hero h1 {
    position: absolute;
    width: 100%;
    top: 5%;
    left: 10%;
    color: white;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, 0.314);
}

.hero article {
    position: absolute;
    bottom: 20%;
    left: 50%;
    max-width: 35%;
    background-color: rgba(0, 0, 0, 0.314);
    padding: 1rem;
    color: white;
}

.hero article img {
    float: right; 
    margin-left: 1rem; 
    width: 50%; 
    height: auto; 
    
   
}